.body{
    text-align: center;
     background-color:  #ffa600;
}
.hex-coloridoNetfix {
    background-color: #000000;
    color: #fa0404;
   }
   .bodyHambúrgueres{
    text-align: center;
    background-color: #ffa600;
   }
.hex-coloridoHambúrgueres  {
    background-color: #ffee00;
    color: #fa0404;
   }